<div *ngFor="let room of rooms">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ room.hotel.name}}</mat-card-title>
      <mat-card-subtitle>{{ room.hotel.location}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>number: {{ room.number }}</p>
      <p>capacity: {{ room.capacity }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="isDisabled" (click)="onBook(room)">book</button>
    </mat-card-actions>
  </mat-card>
</div>
