<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Hotels</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="accent" class="example-icon" (click)="onLogin()" *ngIf="!(isLogged$ | async); else isLogged">Login</button>
    <ng-template #isLogged>
      <button mat-raised-button color="accent" class="example-icon" (click)="onLogout()">Logout</button>
    </ng-template>
    <button class="example-icon" mat-button [matMenuTriggerFor]="menu">Language</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>PL</button>
      <button mat-menu-item>ENG</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
