<mat-card>
  <button mat-raised-button color="primary" (click)="onBack()">back</button>
  <mat-card-header>
    <mat-card-title>
      {{ name }}
    </mat-card-title>
    <mat-card-subtitle>{{ location }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div *ngFor="let facility of facilities">
      <p>{{ facility.type }}</p>
    </div>
  </mat-card-content>
  <mat-card *ngFor="let room of rooms">
    <div>
      <p>number: {{ room.number }}</p>
      <p>capacity: {{ room.capacity }}</p>
      <p>price: {{ room.price }}</p>
    </div>
    <button mat-raised-button color="primary" [disabled]="isDisabled" (click)="onBook(room)">
      book
    </button>
  </mat-card>
</mat-card>
