<div class="landing__wrapper">
<mat-card>
  <form>
    <mat-card-content>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Input" type="text"/>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Input" type="text"/>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Input" type="text"/>
      </mat-form-field>
    </mat-card-content>
  </form>
  <button mat-raised-button color="primary">Search</button>

</mat-card>
</div>
