/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
}

::first-letter {
  text-transform: capitalize;
}

.register__wrapper {
  height: 70vh;
}

.login__wrapper {
  height: 50vh;
}

.register__wrapper, .login__wrapper {
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
